* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #cb232c, #ce1d61);
}

form {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

form .title {
    color: #a11a1a;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label .fa-solid {
    font-size: 20px;
    color: #cb232c;
    margin-right: 10px;
}

form label input {
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #ce1d61;
    padding: 0 5px;
    font-size: 18px;
}

form label input::placeholder {
    color: rgba(26, 25, 25, 0.5);
}


form .link {
    color: #252525;
    margin-bottom: 15px;
}

form button {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #cb232c, #ce1d61);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para la barra de navegación */
header {
    background-color: #333;
    color: white;
    padding: 15px;
    position: fixed;        /* Fijar el menú en la parte superior */
    top: 0;                 /* Pegar el menú a la parte superior de la página */
    left: 0;
    width: 100%;            /* Hacer que la barra de navegación ocupe todo el ancho */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido dentro del header */
    z-index: 1000;          /* Asegurar que el menú siempre esté por encima del contenido */
}

/* Estilos para el contenedor del menú */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;           /* Flexbox para alinear los elementos del menú en fila */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

/* Agregar margen superior al contenido principal para evitar que quede oculto debajo del menú */
main {
    padding: 20px;
    margin-top: 80px; /* Ajusta este valor dependiendo de la altura del menú */
    text-align: center;
}

main h1 {
    font-size: 5em;
    color: #f8f4f4;
}

main p {
    font-size: 1.2em;
    color: #0f0e0e;
}

